*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    background: #29241d;
    color: #fff4e8;
}

a{
    text-decoration: none;
}

.player{
    width: 80%;
    min-height: 550px;
    max-width: 300px;
    padding: 3rem 1.25rem;
    margin: 2rem auto;
    background: linear-gradient(to right top, #29241d,#1f160f);
    box-shadow: 7px 5px #2724244d;
    border-radius: 15px;
    position: relative;
    border: solid #fff4e8;
}

.header{
    height: 40px;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}


.image{
    display: block;
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin: 1rem auto;
    border-radius: 50%;
    border: 2px solid #fff4e8;
}

.information{
    margin: 1.5rem 0;
    text-align: center;

}

.information h1{
    color: #fff4e8;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.information p{
    font-size: 1.15rem;
    color: #fff4e8;

}

.progress{
    padding: 10px 0;
}

.progress-time{
    padding: 3px 5px;
    color: #fff4e8;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.progress-time > p{
    font-size: 0.65rem;
}

.buttons{
    margin: 2rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button{
    color: #fff4e8;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #fff4e8 2px;
}

.button-sm{
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
}
.button-md{
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.85;
}
.button-lg{
    width: 3.25rem;
    height: 3.25rem;
    /* opacity: 1; */
}

.bar{
    width: 50%;
    height: 2px;
    margin: auto;
    background: #fff4e8;
    border-radius: 25px;
    position: absolute;
    transform: translate(-50% , -50%) ;
    left: 50%;
    bottom: 1rem;
}

.playpause.active{
    box-shadow: 3px 3px #2724244d;
    border: solid #fff4e8 2px;
}

.loop.active,
.shuffle:active,
.prev:active,
.next:active{
    box-shadow: 3px 3px #2724244d;
}

.fa-play{
    display: block;
}
.fa-pause{
    display: none;
}
.playpause.active .fa-play{
    display: none;
}
.playpause.active .fa-pause{
    display: block;
}

.seekslider{
    width: 100px;
    height: 3px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background: #fff4e8;
    z-index: 3;
    outline: none;
    position: fixed;
    margin-left: 82px;
    margin-top: 10px;
}


.seekslider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff4e8;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: scale(1);
}
.seekslider:active::-webkit-slider-thumb{
    transform: scale(1.2);
}
label{
    cursor: pointer;
}

input[type="checkbox"]{
    -webkit-appearance: none;
}

@media (max-width: 309px){
    .seekslider{
        margin-left: 50px;
    }
}